<div class="col-md-12">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">代理商
        <% if can? :new, :agents %>
          <small><%= link_to '添加', new_admin_agent_path, class: 'font-a label bg-green' %></small>
        <% end %>
      </h3>
    </div>
    <div class="box-tools" style="margin-top: 10px;">
      <%= form_tag admin_agents_path, method: :get do %>
        <div class="input-group input-group-sm">
          <div>
            <div class="col-xs-6 col-md-6"></div>
            <div class="col-xs-6 col-md-3"></div>
            <div class="col-xs-6 col-md-3">
              <input type="text" name="table_search" class="form-control" placeholder="名称、号码搜索" value="<%= params[:table_search] %>">
            </div>
          </div>

          <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
          </div>
        </div>
      <% end %>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table class="table table-striped">
        <tbody>
        <tr>
          <th>代理商名</th>
          <th>法人姓名</th>
          <th>联系电话</th>
          <th>登录账号</th>
          <th>代理城市</th>
          <th></th>
        </tr>
        <% @agents.each do |agent| %>
          <%= render partial: 'admin/agents/agent', locals: {agent: agent}%>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="box-footer clearfix">
      <div class="pull-right pagination-sm no-margin">
        <%= paginate @agents, params: {status: params[:status], agent_type: params[:agent_type], table_search: params[:table_search]}%>
      </div>

    </div>
  </div>
</div>


