<tr id="admin_<%= admin.id %>">
  <td><%= admin.server_agent&.company_name %>-<%= admin.server_agent&.name %>- <%= admin.server_agent&.phone %></td>
  <td><%= admin.name %></td>
  <td><%= admin.phone %></td>
  <td><%= admin.admin_commission&.view_commission %></td>
  <td><%= admin.admin_commission&.view_commission_paid %></td>
  <td><%= admin.admin_commission&.view_commission_wait %></td>
  <td>
    <% if can? :admin_commission_logs, :index %>
      <%= link_to admin_admin_commission_logs_path(admin_id: admin.id), class: "btn btn-primary  btn-xs", 'data-target' => "#myModal" do %>
        佣金记录
      <% end %>
    <% end %>
    <% if can? :server_users, :cash_form %>
      <%= link_to cash_form_admin_server_user_path(admin), class: "btn btn-success btn-xs", 'data-toggle' => "modal", 'data-target' => "#myModal" do %>
        提现
      <% end %>
    <% end %>

    <% if can? :server_users, :adjust_form %>
      <%= link_to adjust_form_admin_server_user_path(admin), class: "btn btn-default btn-xs", 'data-toggle' => "modal", 'data-target' => "#myModal" do %>
        调整
      <% end %>
    <% end %>

    <% if can? :server_users, :agent %>
      <%= link_to agent_admin_server_user_path(admin), class: "btn btn-warning btn-xs", 'data-toggle' => "modal", 'data-target' => "#myModal" do %>
        所属代理商
      <% end %>
    <% end %>
  </td>
</tr>