<tr id="tag_<%= tag.id %>">
  <td><%=image_tag tag.tag_attachment&.preview_url, style: 'width: 50px;height: 50px' , lazy: true if tag.tag_attachment.present? %></td>
  <td><%= tag.name %></td>
  <td ><%= tag.category&.name %></td>
  <td>
    <%= link_to edit_admin_tag_path(tag),class: "btn btn-primary btn-xs" do %>
      <i class="fa fa-edit"></i>编辑
    <% end %>
    <%= link_to admin_tag_path(tag), 'data-confirm': "确认删除吗", method: 'delete',class: "btn btn-danger btn-xs" do %>
      <i class="fa fa-close"></i>删除
    <% end %>
  </td>
</tr>