<div class="col-md-12">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">分类扩展
        <% if can? :new, :tags %>
          <small><%= link_to '添加', new_admin_tag_path, class: 'font-a label bg-green' %></small>
        <% end %>
      </h3>
    </div>
    <div class="box-tools" style="margin-top: 10px;">
      <%= form_tag admin_tags_path, method: :get do %>
        <div class="input-group input-group-sm">
          <div>
            <div class="col-xs-6 col-md-6"></div>
            <div class="col-xs-6 col-md-3"><%= select_tag :category_id, options_for_select(Category.select_options, params[:category_id]), include_blank: '所有分类', class: 'form-control', style: "width: 100%" %></div>
            <div class="col-xs-6 col-md-3">
              <input type="text" name="table_search" class="form-control" placeholder="商品名搜索" value="<%= params[:table_search] %>">
            </div>
          </div>

          <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
          </div>
        </div>
      <% end %>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table class="table table-striped">
        <tbody>
        <tr>
          <th>缩略图</th>
          <th style="width: 20%">扩展分类名</th>
          <th>分类名</th>
          <th style="width: 20%"></th>
        </tr>
        <% @tags.each do |tag| %>
          <%= render partial: 'admin/tags/tag', locals: {tag: tag}%>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="box-footer clearfix">
      <div class="pull-right pagination-sm no-margin">
        <%= paginate @tags, params: {status: params[:status], tag_type: params[:tag_type], table_search: params[:table_search]}%>
      </div>

    </div>
  </div>
</div>
<script type='text/javascript'>
  $(function(){
    $("img").lazyload({
    });
  })
</script>


