<div class="col-md-12">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">用户列表
      </h3>
    </div>
    <div class="box-tools" style="margin-top: 10px;">
      <%= form_tag admin_users_path, method: :get do %>
        <div class="input-group input-group-sm">
          <div>
            <div class="col-xs-6 col-md-6"></div>
            <div class="col-xs-6 col-md-3"><%= select_tag :type, options_for_select([['商户', 'company'], ['公司人员', 'admin']], params[:type]), include_blank: '所有状态', class: 'form-control', style: "width: 100%" %></div>
            <div class="col-xs-6 col-md-3">
              <input type="text" name="table_search" class="form-control" placeholder="昵称、手机号检索" value="<%= params[:table_search] %>">
            </div>
          </div>

          <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
          </div>
        </div>
      <% end %>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>昵称</th>
            <th>性别</th>
            <th>手机号</th>
            <th>城市</th>
            <th>分享订单数</th>
            <th>累计佣金</th>
            <th>待提现</th>
            <th>已提现</th>
            <th>公司人员</th>
            <th>商户</th>
            <th>公司人员</th>
            <th></th>
          </tr>
          <% @users.each do |user| %>
            <%= render partial: 'admin/users/user', locals: {user: user} %>
          <% end %>
        </tbody>

      </table>
    </div>
    <div class="box-footer clearfix">
      <div class="pull-right pagination-sm no-margin">
        <%= paginate @users, params: {table_search: params[:table_search]} %>
      </div>

    </div>
  </div>
</div>


